@media screen and (max-width: 1024px) {
    .welcom-block{
        width: 100%;
        height: 600px;
       
       
    }
   
    .wrapper{
        /* width: 1440px;*/
        margin: 0px;
        }

    .wrapper__navigation{
           display: flex;
              
    }
    .main-container{
        width: 760px;
        
    }
    .wrapper__navigation{
        width: 760px;
    }
    .navigation-link{
        display: none;
    }
    .navigation_display-none{
        display: block;
   }

   .hamburger{
    background-image: url('icon/burger.svg');
    display: inline-block;
    margin-left: 40px;
    margin-top: 31px;
width: 45px;
    height: 20px;

    }
    





   .favorites{
    width: 768px;
   }

   .slider__imeg__hide{
    display: none;
   }

   .layout-2-column{
    display: block;
    justify-content: center;

}



.digital-library-cards_content{
    text-align: center;
    width: 100%;

 }

 .library-cards_content-text{
    width: 100%;
 }

 .coffe-shop__drinks-card{
    align-items:first baseline;

}

.coffe-shop__product{
    display: flex;
    justify-content:start;
    align-items: center;
}


.desserts{
    display: flex;
    justify-content:end; 
 
}
footer
{
    width: 100%;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(12, 12, 14, 1);
    margin: auto;
    padding: 20px;
}

.footer__line{
    width: 100%;
    height: 1px;
    background: #FFF;
    margin: 0px;
    }

}