@media screen and (max-width: 1024px) {
    .welcom-block{
        width: 768px;
        height: 600px;
       
       
    }
   
    .wrapper{
        /* width: 1440px;*/
       
        }

    .wrapper__navigation{
           display: flex;
              
    }
    .main-container{
        width: 768px;
        
        
    }
    .wrapper__navigation{
        
        justify-content: end;
    }
    .navigation-link{
        display: none;
    }
    .navigation_display-none{
        display: block;
   }



   .hamburger__menu{
    display: inline-block;
    margin-top: 35px;
    margin-left: 40px;
    
    width: 45px;
    height: 20px;

    background: none;
   
    border: none;
     background-image: url('icon/burger.svg');
     background-repeat: no-repeat; 
    background-size: cover;  

   }

   .burger_menu_close{
    width: 32px;
    height: 32px;

    background: none;
    border: none;

    margin-top: 31px;
    margin-left: 40px;
    margin-right: 20px;

    background-image: url('icon/burgerclose.svg');
    background-repeat: no-repeat; 
    background-size: cover;  
   }
  

   .burger_menu_header{
    width: 332px;
    height: 90px;
    display: flex;
    justify-content: end;
   }

   .open_burger_menu{
    
        z-index: 100;
        width: 332px;
        height: 570px;
        position: absolute;
    
        /*top:0;*/
        /*right: 0;*/
    
        background: #000;
    }

    .burger_menu_navigation{
      

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 250% */
   list-style: none;
 text-align: center;
    }

    .burger_menu_navigaton_link
    {
        padding-bottom: 30px;
     
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 250% */
    }

    .burger_menu_link{
        text-decoration: none;
        color: #FFF;
        font-family: Inter;
       
    }

    




   .favorites{
    width: 768px;
   }

   .slider__imeg {
    margin-right: 58px;
    margin-left: 58px;
    
}



.slider-button-container{
    height: 560px;
    display: flex;

    align-items: center;
   }


   .carret_left{
    background: none;
    border: none;
    background-image: url('icon/Carret_Left.svg');
    display: flex;
    width: 24px;
    height: 24px;
   }
    

.carret_right{
    background: none;
    border: none;
    display: flex;
    
    background-image: url('icon/Carret_Right.svg');
    width: 24px;
    height: 24px;

}


   .slider__imeg__hide{
    display: none;
   }

   .layout-2-column{
    display: block;
    justify-content: center;

}
.season-books{
    width: 768px;
    display: grid;
    justify-content:center;
    
}


.digital-library-cards_content{
    text-align: center;
    width: 100%;

 }

 .library-cards_content-text{
    width: 100%;
 }



 .coffe-shop__drinks-card{
    align-items:first baseline;

}

.coffe-shop__product{
    display: flex;
    justify-content:start;
    align-items: center;
}


.desserts{
    display: flex;
    justify-content:end; 
 
}


.library-container{
    display: grid;
    justify-content:center;


}



footer
{
    width: 768px;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(12, 12, 14, 1);
    margin: auto;
    padding: 20px;
}

.footer__layout-2-column{
    display: flex;
    justify-content:space-between;

    width: 728px;
}

.footer_sites-info{
    width: 768px;
}

.footer__line{
    width: 100%;
    height: 1px;
    background: #FFF;
    margin: 0px;
    }

}