html{

}

body{
    font-family: 'Inter', sans-serif;
   
    
}
h1, h2, h3{
    font-family: 'Forum', cursive;
}

.header_navigation
{
    background-color:rgba(12, 12, 14, 1);
    color: rgba(255, 255, 255, 1);
}


.navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
     
}

.navigation-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    
}

.icon_profile{
    background-image: url('icon/icon_profile.svg');
    width: 28px;
    height: 28px;
    display: inline-block;
}


.welcom-block{
    width: 1440px;
    height: 600px;
    background-image: url('img/welcombackcover.jpg');
    background-size: cover;
}

.main-container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.map{
    width: 696px;
    height: 414px;
}

footer
{
    color: rgba(255, 255, 255, 1);
    background-color:rgba(12, 12, 14, 1);
}
