* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{  
font-family: 'Inter', sans-serif;   
}

.wrapper{
width: 1440px;
margin: auto;
}




.layout-2-column{
    display: flex;
    justify-content:space-between;
}


hr{
    width: 50px;
height: 1px;
}

h1, h2, h3{
    font-family: 'Forum';
}



.h1{
    font-size: 30px;
    font-style:normal;
    letter-spacing: 0.6px;
    color: #FFF;
  

    
}

h2{
    margin: 20px;
}

h2, h3{
    color: #0C0C0E;
font-size: 40px;
font-style: normal;
letter-spacing: 2px;
text-transform: capitalize;
text-align: center;

}

.section__description{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
}


.button__active{
border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.button__active:hover{
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    }



header{
    
    
    background-color:rgba(12, 12, 14, 1);
    color: rgba(255, 255, 255, 1);

}


.header__wrapper{
display: flex;
justify-content:space-between;
padding: 20px 20px;
}

.wrapper__navigation{
    display: flex;
      
}

.header_navigation
{
    
}


.navigation{
    display: flex;
    list-style: none;
     
}



.navigation-link {
    padding: 0 30px;

    transition: .3s;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    
}

.icon_profile{
    background-image: url('icon/icon_profile.svg');
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 31px;
}


.welcom-block{
    width: 1440px;
    height: 600px;
    background-image: url('img/welcombackcover.jpg');
    background-size: cover;
    position: relative;
    color: #FFF;
   
}

.welcom-text{
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    position: relative;
    top: 220px;

}



.main-container{
    width: 1440px;
    margin: auto;
 
}

.slider {
  display: flex;
    justify-content:center;
    
    
}

.slider__imeg{
   

width: 450px;
height: 560px;

}

.slider__navigation{
    display: flex;
    justify-content:center;

    margin-top: 40px;

}

.slider__navigation_container{
    width: 26px;
    height: 26px;
}




.navigation__active{
    width: 16px;
    height: 16px;
    background: #0C0C0E;
    border-radius: 50px;

    display: flex;
    }
    
    .navigation__active:hover{
        width: 16px;
        height: 16px;
        background: #BB945F;
        border-radius: 50px;
    
        display: flex;
    }



.favorites__text{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.season{
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.season__choise{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }


.radio-button{

    display: flex;
 
}


.books-card{
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    
    display: flex;

    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    
    
}

.book-card__heading{
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
margin: 0px;

}

.book-card__line{
width: 60px;
height: 1px;
background: #BB945F;
margin: 0px;
}


.books-card__description{
   height: 320px;
    width: 355px;
    


    color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: capitalize;
}

.book-name{
    color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: uppercase;
margin: 0px;
margin-top: 20px;

}


.book-author{
    color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
margin: 0px;

}


.about-book-text{
    margin: 0px;
    padding: 0px;
}

.book-button{
    width: 75px;
    height: 30px;
    margin-bottom: 15px;
}


.books-card__imeg{
    
    
    width: 200px;
    height: 300px;

    position: relative;
    top: 255px;
    left: 40px;
    
}


.map{
    width: 696px;
    height: 414px;
}

.digital-library__form {
    width: 600px;
    height: 386px;
    border: 1px solid #000; 
}
 .form{
    width: 560px;
    height: 272px;
    background: #BB945F;
    margin: 20px;
    padding: 20px;
 }

 .form__text{
    color: #000;
font-family: Forum;
font-size: 30px;
font-style: normal;
letter-spacing: 0.6px;
 }

 .form__input{
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;

    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.6px;
 }

 .form__button
 {
    width: 162px;
    height: 24px;



 }


footer
{
    color: rgba(255, 255, 255, 1);
    background-color:rgba(12, 12, 14, 1);
}

.footer__line{
    width: 1400px;
height: 1px;
background: #FFF;
}
