* {
    box-sizing: border-box;
}
html{

}

body{  
font-family: 'Inter', sans-serif;   
}

.wrapper{
max-width: 1440px;
margin: auto;
}

.layout-2-column{
    display: flex;
    justify-content:space-between;
}

h1, h2, h3{
    font-family: 'Forum', cursive;
}



.h1{
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.6px;
}

h2, h3{
    color: #0C0C0E;
font-size: 40px;
font-style: normal;
letter-spacing: 2px;
text-transform: capitalize;
text-align: center;

}

.button__active{
border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.button__active:hover{
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    }



header{
    padding: 20px 0 20px 0;
    
    background-color:rgba(12, 12, 14, 1);
    color: rgba(255, 255, 255, 1);

}


.header__wrapper{
display: flex;
justify-content:space-between;
}

.wrapper__navigation{
    display: flex; 
}
    
.header_navigation
{
    
}


.navigation{
    display: flex;
    list-style: none;
     
}

.navigation-link {
    padding: 0 30px;

    transition: .3s;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-style: normal;
    line-height: 50px; 
    
}

.icon_profile{
    background-image: url('icon/icon_profile.svg');
    width: 28px;
    height: 28px;
    display: inline-block;
}


.welcom-block{
    width: 1440px;
    height: 600px;
    background-image: url('img/welcombackcover.jpg');
    background-size: cover;
    position: relative;
    color: #FFF;
   
}

.welcom-text{
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;


}

.main-container{
    width: 1440px;
    margin: auto;
 
}

.slider {
    display: flex;

    
}

.slider__imeg{
    width: 100px;
    height: 255px

}

.navigation1
{
    width: 10px;
    height: 10px;
    background-color: #000;
}

.radio-button{
    width: 10px;
    height: 10px;
    background-color: #000;   
}


.books-card{
    width: 550px;
    height: 555px;
    border: 1px solid #000;
   
    
}


.books-card__description{
    max-width: 355px;
    margin: 20px 15px;
}





.books-card__imeg{
    position: absolute;
    
    scale: 500px -500px;
    width: 200px;
    height: 300px;
  
}


.map{
    width: 696px;
    height: 414px;
}

.digital-library__form {
    width: 600px;
    height: 386px;
    border: 1px solid #000; 
}
 .form{
    width: 560px;
    height: 272px;
    background: #BB945F;
    margin: 20px;
    padding: 20px;
 }

 .form__text{
    color: #000;
font-family: Forum;
font-size: 30px;
font-style: normal;
letter-spacing: 0.6px;
 }

 .form__input{
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;

    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.6px;
 }

 .form__button
 {
    width: 162px;
    height: 24px;



 }


footer
{
    color: rgba(255, 255, 255, 1);
    background-color:rgba(12, 12, 14, 1);
}
